// COLORS
$primary-color: #1c4c9a;
$secondary-color: #4068e3;
$tertiary-color: #020a23;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$alt-text-color: #d9e7fe; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
