// COLORS
$primary-color: #1c4c9a;
$secondary-color: #2045a8;

$white-color: #000;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #d9e7fe; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
